/* Variables : */
$celeste:  #87CEEB;
$blanco:  #d0d0d2 ; 
$azulOscuro: #003366;
$verde: #98FB98;


.cardPrimera {
  background: $verde;
  border-radius: 10px;
  box-shadow: 0 6px 12px $azulOscuro;
  padding: 1rem;
  margin: 1rem;
  max-width: 300px;
  font-family: Arial, sans-serif;
  transition: transform 0.2s ease;
  
}

.cardSegunda {
  @extend .cardPrimera;
}

 @mixin cardMixin{
    background: $azulOscuro;
}

.cardTercera{
    @include cardMixin;
}